.top-row {
  font-size: 14px;
}

.logo-container img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #6c93e6;
}

.top-row {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33691e;
  padding: 10px;
  color: white;
}

.content-row {
  flex: 1;
  display: flex;
}

.left-column,
.middle-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c8e6c9;
  padding: 10px;
}

.button-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.timer-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alineación a la izquierda */
  flex-grow: 1;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  font-size: x-large;
  box-sizing: border-box;
  text-align: center;
}

.button-inactive {
  background-color: #ccc;
  color: #000;
}

.button-active {
  background-color: #ff0000;
  color: #fff;
}

.button-large {
  width: 150px;
  height: 100px;
  font-size: 10px;
  font-weight: bold;
}

.counter {
  font-size: 16px;
  margin-top: 10px;
  font-weight: normal;
  font-size: large;
}

.button-container.running {
  background-color: rgb(255, 67, 67);
  color: white;
}

.button-container.stopped {
  background-color: green;
  color: white;
}

.right-column .button-container {
  margin-bottom: 15px;
}

.right-column .timer-button,
.middle-column .timer-button {
  width: 100%;
  height: 85%;
}

/* Botones con tamaño fijo */
.button-container .timer-button {
  width: 100px;
  height: 50px;
}

/* Otros estilos */
.button-container:not(.running):not(.stopped) {
  color: #000;
}

.button-container:not(.running):not(.stopped) .timer-button {
  background-color: #4e77ff;
  color: #ffffff;
}

.button-container:not(.running):not(.stopped) .timer-button span {
  font-size: 18px;
}

.button-container:not(.running):not(.stopped) .timer-button div {
  font-size: 16px;
  margin: 5px 0;
  text-align: left; /* Alineación a la izquierda */
}

.button-container:not(.running):not(.stopped) .timer-button div.hora.detención,
.button-container:not(.running):not(.stopped) .timer-button div.hora.inicio,
.button-container:not(.running):not(.stopped) .timer-button div.tiempo.detenido {
  font-weight: bold;
}

.button-container:not(.running):not(.stopped) .timer-button div.hora.actual,
.button-container:not(.running):not(.stopped) .timer-button div.hora.fin,
.button-container:not(.running):not(.stopped) .timer-button div.tiempo.total {
  font-weight: normal;
}
