<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    /* Aquí va tu CSS actualizado */
  </style>
</head>

<body>
  <div class="container">
    <div class="top-row">
      <img src="assets/logo.png" alt="Logo de la empresa" class="logo">

      <button class="btn btn-primary" (click)="restarUnoBiTrenGlobulus()">
        <i class="fa fa-minus"></i> Restar BitrenGlobulus
      </button>

      <button class="btn btn-primary" (click)="restarUnoBiTrenNitens()">
        <i class="fa fa-minus"></i> Restar Bitren Nitens
      </button>

      <button class="btn btn-primary" (click)="restarUnoCamionExterno()">
        <i class="fa fa-minus"></i> Restar Camión Externo
      </button>

      <div class="clock">
        {{ currentDateTime }}
      </div>

    </div>
    <div class="content-row">
      <div class="left-column">

        <div class="button-container" (click)="toggleTimer('timer1')"
          [ngClass]="{'running': timers['timer1'].timerRunning, 'stopped': !timers['timer1'].timerRunning}">
          <div class="timer-button">
            <div>Línea Mecánica Detenida</div>
            <!--{{ getButtonLabel(timers['timer1']) }} -->
            <div class="hora detención">Detención: {{ timers['timer1'].fechainicio }} Reactivación: {{
              timers['timer1'].fechafin }}</div>
            <div class="hora actual"> </div>
            <div>Tiempo Detenido:{{ getElapsedTimeDifference(timers['timer1']) }} </div>
          </div>
        </div>

        <div class="button-container" (click)="toggleTimer('timer2')"
          [ngClass]="{'running': timers['timer2'].timerRunning, 'stopped': !timers['timer2'].timerRunning}">
          <div class="timer-button">
            <div>Línea Sin Madera</div>
            <!--  {{ getButtonLabel(timers['timer2']) }} -->
            <div class="hora inicio">Detención: {{ timers['timer2'].fechainicio }} Reactivación: {{
              timers['timer2'].fechafin }} </div>
            <div class="hora fin"> </div>
            <div>Tiempo Total sin Madera: {{ getElapsedTimeDifference(timers['timer2']) }} </div>
          </div>
        </div>

        <div class="button-container" (click)="toggleTimer('timer3')"
          [ngClass]="{'running': timers['timer3'].timerRunning, 'stopped': !timers['timer3'].timerRunning}">
          <div class="timer-button">
            <div>Limpieza Bunker</div>
            <!--   {{ getButtonLabel(timers['timer3']) }}-->
            <div class="hora detención">Detención: {{ timers['timer3'].fechainicio }} Reactivación: {{
              timers['timer3'].fechafin }} </div>
            <div class="hora actual"> </div>
            <div>Tiempo Detenido:{{ getElapsedTimeDifference(timers['timer3']) }} </div>
          </div>
        </div>

        <div class="button-container" (click)="toggleTimer('timer4')"
          [ngClass]="{'running': timers['timer4'].timerRunning, 'stopped': !timers['timer4'].timerRunning}">
          <div class="timer-button">
            <div>Limpieza Zona Alimentación</div>
            <!-- {{ getButtonLabel(timers['timer4']) }}-->
            <div class="hora detención">Detención: {{ timers['timer4'].fechainicio }}Reactivación: {{
              timers['timer4'].fechafin }}</div>
            <div class="hora actual"> </div>
            <div>Tiempo Detenido:{{ getElapsedTimeDifference(timers['timer4']) }} </div>
          </div>
        </div>

        <div class="button-container" (click)="toggleTimer('timer5')"
          [ngClass]="{'running': timers['timer5'].timerRunning, 'stopped': !timers['timer5'].timerRunning}">
          <div class="timer-button">
            <div>Mantención</div>
            <!--  {{ getButtonLabel(timers['timer5']) }} -->
            <div class="hora detención">Detención: {{ timers['timer5'].fechainicio }} Reactivación: {{
              timers['timer5'].fechafin }}</div>
            <div class="hora actual"> </div>
            <div>Tiempo Detenido:{{ getElapsedTimeDifference(timers['timer5']) }} </div>
          </div>
        </div>
      </div>

      <div class="middle-column">
        <div class="button-container">
          <div class="timer-button " (click)="aumentarContador('biTrenGlobulus')">
            BiTren Glóbulus <span>{{ contadorBiTrenGlobulus }}</span>
          </div>
        </div>
        <div class="button-container">
          <div class="timer-button " (click)="aumentarContador('biTrenNitens')">
            BiTren Nitens <span>{{ contadorBiTrenNitens }}</span>
          </div>
        </div>
        <div class="button-container">
          <div class="timer-button button-inactive" (click)="aumentarContador('camionExterno')">
            Camión Externo <span>{{ contadorCamionExterno }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>


<!--<button class="btn btn-primary" (click)="restarUnoCamionNitens()">
        <i class="fa fa-minus"></i> Restar Camión Nitens
      </button>

      -->
<!--
  <div class="button-container">
          <div class="timer-button button-inactive" (click)="aumentarContador('camionNitens')">
            Camión Externo Nitens <span>{{ contadorCamionNitens }}</span>
          </div>
        </div>
-->